---
import HomeLayout from "@/layouts/HomeLayout.astro";
import { Content as AboutMeContent } from "./content/my-life.md";
---

<HomeLayout>
  <div class="markdown-content">
    <AboutMeContent />
  </div>
</HomeLayout>
