---
import HomeLayout from "@/layouts/HomeLayout.astro";
import { Content as ExperienceContent } from "./content/experience.md";
---

<HomeLayout>
  <div class="markdown-content">
    <ExperienceContent />
  </div>
</HomeLayout>
