---
import { cn } from "@/lib/utils";
import { Activity } from "@lucide/astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  status: CollectionEntry<"projects">["data"]["status"];
}

const { status } = Astro.props;
---

<div
  class={cn(
    "rounded-full px-2 py-1 text-xs font-medium w-max [&_svg]:size-4 flex items-center gap-1",
    status === "prototype" && "bg-purple-500 text-white",
    status === "alpha" && "bg-blue-500 text-white",
    status === "beta" && "bg-yellow-500 text-white",
    status === "stable" && "bg-green-500 text-white"
  )}
  title="Project Status"
>
  <Activity />
  {status}
</div>
