---
import { cn } from "@/lib/utils";
import { Shirt } from "@lucide/astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  size: CollectionEntry<"projects">["data"]["size"];
}

const { size } = Astro.props;
---

<div
  class={cn(
    "rounded-full px-2 py-1 text-xs font-medium w-max [&_svg]:size-4 flex items-center gap-1 bg-accent border border-border [&_svg]:fill-current",
    size === "xs" && "text-fuchsia-500",
    size === "sm" && "text-indigo-500",
    size === "md" && "text-cyan-500",
    size === "lg" && "text-amber-500",
    size === "xl" && "text-rose-500"
  )}
  title={`Project "T-Shirt" Size`}
>
  <Shirt />
  {size}
</div>
