---
import BrandIconLink from "@/components/custom-ui/brand-icon-link.astro";
import NavbarComponent from "@/components/custom-ui/navbar";
import Layout from "@/layouts/Layout.astro";
import { Mail } from "@lucide/astro";

const { pathname } = Astro.url;
const currentPath = pathname.slice(1);
const currentPathSegments = currentPath.split("/");
---

<style is:global>
  :root {
    /* Mobile */
    --navbar-height: 44px;
    --scroll-padding-top: calc(var(--navbar-height) + 24px);
    scroll-padding-top: var(--scroll-padding-top);
  }

  @media (width >= 40rem) {
    :root {
      /* Desktop */
      --navbar-height: 60px;
    }
  }
</style>

<Layout>
  <div
    class="max-w-6xl w-full px-4 sm:px-8 pt-8 pb-24 flex flex-col items-center gap-8"
  >
    <div class="flex flex-col sm:flex-row items-center gap-x-8 gap-y-4">
      <img
        src="https://content.gibsonops.com/jared/portrait_angle_cropped_md.webp"
        alt="Jared Gibson"
        class="w-36 sm:w-48 rounded-full aspect-square object-cover ring-4 ring-primary"
      />
      <div class="flex flex-col items-center gap-1">
        <h1 class="text-2xl sm:text-3xl font-bold">jared gibson</h1>
        <p class="text-base sm:text-lg">full stack developer</p>
        <div
          class="flex items-center gap-1 [&_svg]:size-4 [&_img]:size-4 [&_a]:rounded-sm [&_a]:p-1.5 [&_a]:hover:bg-accent/50 [&_a]:text-accent-foreground"
        >
          <a href="mailto:jared@gibson.run" target="_blank">
            <Mail />
          </a>
          <BrandIconLink
            href="https://github.com/guiterguy219"
            alt="GitHub"
            src={{
              light: "/media/brands/github/github-mark.svg",
              dark: "/media/brands/github/github-mark-white.svg",
            }}
          />
          <BrandIconLink
            href="https://linkedin.com/in/jaredgibson219"
            alt="LinkedIn"
            src={{
              light: "/media/brands/linkedin/in-icon-black.png",
              dark: "/media/brands/linkedin/in-icon-white.png",
            }}
          />
        </div>
      </div>
    </div>
    <NavbarComponent
      variant="default"
      links={[
        { href: "/", label: "Home", active: currentPath === "" },
        {
          href: "/my-life",
          label: "My Life",
          active: currentPathSegments[0] === "my-life",
        },
        {
          href: "/projects",
          label: "Projects",
          active: currentPathSegments[0] === "projects",
        },
        {
          href: "/blog",
          label: "Blog",
          active: currentPathSegments[0] === "blog",
        },
      ]}
    />
    <slot />
  </div>
  <footer class="py-12">
    <p>
      &copy; {new Date().getFullYear()} Jared Gibson. All rights reserved.
    </p>
  </footer>
</Layout>
